
.vs/ICEL-AR_FINISH/xs/project-cache/Assembly-CSharp-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Assembly-CSharp-Editor-firstpass-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Assembly-CSharp-firstpass-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Assembly-CSharp-firstpass.Player-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Assembly-CSharp.Player-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.CollabProxy.Editor-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.PlasticSCM.Editor-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.Rider.Editor-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.TextMeshPro-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.TextMeshPro.Editor-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.TextMeshPro.Player-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.Timeline-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.Timeline.Editor-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.Timeline.Player-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.VisualStudio.Editor-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/Unity.VSCode.Editor-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/UnityEditor.TestRunner-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/UnityEditor.UI-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/UnityEngine.TestRunner-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/UnityEngine.TestRunner.Player-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/UnityEngine.UI-Debug.json
.vs/ICEL-AR_FINISH/xs/project-cache/UnityEngine.UI.Player-Debug.json
.vs/ICEL-AR_FINISH/xs/UserPrefs.xml
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Assets/Fonts/DB Helvethaica X/db-helvethaica-x-bd-ext-it-v32 SDF.asset
Assets/LoginHistory.txt
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Assets/Fonts/DB Helvethaica X/db-helvethaica-x-bd-ext-it-v32 SDF.asset
Assets/LoginHistory.txt
